* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active {
  text-decoration: none;
  color: white;
}

body {
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/*----header----*/

.bg-header {
  background-color: #2B2929;
  margin-bottom: 10px;
}

.color-menu {
  color: #FEFEFE;
}

.color-menu:hover {
  background-color: #ED3237;
}

.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
}


/*----inicio index main----*/

.h1-index {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #2B2929;
  color: #FEFEFE;
}

.h2-index {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #2B2929;
  color: #FEFEFE;
}

.foto-index {
  background-color: whitesmoke;
}

.p-index {
  font-size: 24px;
  font-weight: 400;
}

.logo-img {
  max-width: 150px;
  transition: transform 0.5s;
}

.logo-img:hover {
  transform: scale(1.10);
}

/*----fin de index----*/

/*----inicio de about ----*/

.h1-about {
  padding: 20px;
  text-align: center;
  background-color: #2B2929;
  color: #FEFEFE;
}

.about-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.about-cover img {
  max-width: 100%;
  height: auto;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.card {
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card h2 {
  color: #2B2929;
  margin-bottom: 10px;
}

.card p {
  color: #2B2929;
}
/*----fin de about ----*/

/*--inicio portfolio--*/
.h1-projects {
  padding: 20px;
  text-align: center;
  background-color: #2B2929;
  color: #FEFEFE;
}

.gallery {
  padding: 20px 0;
}

.gallery-item {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FDFBEC;
}

.text h3 {
  margin-bottom: 10px;
}

/*--fin portfolio--*/

/*--inicio Contact--*/
.h1-contact {
  padding: 20px;
  text-align: center;
  background-color: #2B2929;
  color: #FEFEFE;
}

.h2-contact {
  padding: 20px;
  text-align: center;
  color: #2B2929;
}

.p-contact {
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
}

.form-control::placeholder {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

.which-contact {
  margin-left: 20px;
}

.hear-about {
  margin-left: 20px;
}

.form-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin: 0px 20px;
}

input,
textarea {
  width: 50%;
  padding: 10px;
  margin: 0px 20px;
  border: 1px solid #FEFEFE;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #2B2929;
  color: #FEFEFE;
  border: none;
  margin: 0px 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ED3237;
}

/*--Fin de Contact--*/

/*footer*/

.bg-footer {
  margin-top: 10px;
  background-color: #2B2929;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.type-white {
  color: #FEFEFE;
  text-align: justify;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes a {
  display: inline-block;
  color: #FEFEFE;
  font-size: 25px;
  margin: 0 5px;
}

.redes a:hover {
  transform: scale(1.5);
  transition: all 1s ease;
  color: #ED3237;
}

/*--fin de footer*/

/*--mediaquerys--*/
@media only screen and (max-width: 768px) {

  .index {
    flex-direction: column;
  }

  .text-container {
    align-items: flex-start;
  }

  .index img {
    width: 100%;
  }

  .p-index {
    margin-left: 20px;
    margin-top: 20px;
  }

  .col-md-3 {
    flex-basis: 50%;
  }

  .hero h1 {
    font-size: 24px;
  }

  .about-cover {
    width: 100%;
  }

  .about-content {
    grid-template-columns: 1fr;
}

  .gallery {
    padding: 20px 0;
  }

  .redes {
    flex-direction: row;
    justify-content: center;
  }

  .redes a {
    margin: 0 10px;
  }


  @media only screen and (max-width: 576px) {
    .form-container {
      max-width: 90%;
    }
  }
}